nav{
    border-top: 3px solid #111;
    padding: 20px;
    background-color: #eee; 
    position: relative;  
    box-shadow: 3px 0px 5px 3px #e1e1e1;
    display: flex;
    align-items: center;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
ul li{
    padding: 10px 25px;
    display: inline-block;
}
ul li a{text-decoration: none;font-size: large;color: #111;font-weight: bold;}
.logo{display: inline-block;display: inline-flex;width: 250px;}
.logo a{font-weight: bold;font-size: xx-large;text-decoration: none;color: #111;}
.logo img{display: inline-block;}