:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  margin: 0;
  padding: 0;
}
.wrapper{
  display: flex;
}
.main{
  display: flex;
  padding: 35px;
  width: 70%;
  flex-wrap: wrap;
  gap: 20px;
}
.sidebar{
  padding: 10px;
  width: 35%;
}
.sidebar .cart{
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0);
  width: auto;
  background-color: #eee;
  margin-top: 25px;
  align-items: flex-start; 
    transition: all 0.3s ease;
}

.fixed {
  position: fixed;
  top: 0; 
  right: 0;

}

.card {
    flex: 1 1 calc(33.33% - 20px); /* 33.33% width with gap adjustment */
    box-sizing: border-box;
    padding: 10px;
    background-color: #f0f0f0;
    text-align: center;
}



.btn{
  padding: 10px;
  border: 1px solid #111;
  border-radius: 10px;
  text-align: center;
  font-size: large;
  cursor: pointer;
}
ul.cartlist li {
    display: flex;
    align-items: center;
    gap: 15px;
}
.btn{
  padding: 15px;
  text-decoration: none;
  color: #fff;
  background-color: #111;
  text-align: center;
  border: none;
}